body, html, h1, h2, h3{
    margin: 0;
    padding: 0;
}


/* Inicio NAVBAR style */
.hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    border-top: 5px solid rgb(68, 68, 68);
    border-bottom: 5px solid rgb(68, 68, 68);
    background-image: url(../imgs/hero-banner/hero-3.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    height: 40px;
    width: 100%;    
    background-color: #22222225;
    background-image: radial-gradient(rgb(69, 69, 69) 1px, transparent 1px);
    background-size: 5px 5px; 
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar ul{
    margin: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navbar li{
    list-style-type: none;
    padding-right: 20px;

}
.navbar a {
    color: whitesmoke;
    text-decoration: none;
}
.navbar a:hover {
    color: mediumvioletred;
}
.title {
    margin-right: 50px;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 600;
    text-align: end;
}
.navbar-down {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 100%;    
    background-color: #22222225;
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 5px 5px; 
}
.navbar-down p {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
}

/* Fin NAVBAR style */

.bg-curriculum {
    background-color: rgb(4, 31, 68);
}

/* Inicio ABOUT style */
.about {
    width: 80%;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    color: #ffffff;
}
.about p{
    padding-left: 20px;
}

/* Fin ABOUT style */

/* Inicio TECHNICAL-SKILLS style */
.t-skills {
    color: #ffffff;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 25px;
}
.t-skills h2 {
    font-size: 2.5rem;
    padding-bottom: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.container img:hover{
    transform: scale(1.5);
}

.container img {
    /* border: 1px solid black;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px; */
    height: 80px;
    width: 80px;
    transition: transform 3s ease;

}

/* Fin TECHNICAL-SKILLS section */



/* Inicio CONTACT style */
.contact {
    background-image: url(../imgs/contact-section/conection-4.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}
.contact-header {
    background-color: rgba(0, 0, 0, 0.500);
}
.contact-header p{
    color: #ffffff;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 1.5rem;
}
.contact-header h2{
    color: #ffffff;
    font-size: 2.5rem;
    padding-top: 15px;

}
.contact form {
    margin-top: 60px;
    margin-bottom: 60px;
}
.contact input {
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.500);
    border: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
}
.contact input::placeholder {
  color: white;
  opacity: 0.8;
}

.contact textarea {
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.500);
    border: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 15px;
}
.contact textarea::placeholder {
    color: white;
    opacity: 0.8;
}

/* Fin CONTACT Style */


/* Inicio FOOTER style */
.info {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    background-image: radial-gradient(rgba(255, 255, 255, 0.089) 1px, transparent 1px);
    background-size: 5px 5px; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.info a {
    color: #ffffff;
    text-decoration: none;
}
/* Fin FOOTER Style */

